* {
    box-sizing: border-box;
}


.navbar {
    background-color: #ffcad4;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
}

.logoTxt {
    font-size: 3rem;
    margin: 0.5rem;
    font-weight: bold;
    color: #fcf6bd;
}

.actionContainer {
    margin-right: 1rem;
}

.cartBtn {
    max-width: 8rem;
    padding: 1rem 1.5rem;
}
